/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/Sugo-Pro-Display-Light-trial.woff2') format('woff2'),
			 url('../fonts/Sugo-Pro-Display-Light-trial.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@media (prefers-color-scheme: dark) {
:root {
	/* startje */
	--color-main:#fff;
	--color-background:#FE5638;
}}
@media (prefers-color-scheme: light) {
:root {
	/* startje */
	--color-main:#FE5638;
	--color-background:#672f8d;
}}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-main);
  background-color:var(--color-background);
}
.airup {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

/* jouw code */

