/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/Sugo-Pro-Display-Light-trial.woff2') format('woff2'),
			 url('../fonts/Sugo-Pro-Display-Light-trial.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@media (prefers-color-scheme: dark) {
:root {
	--color-main:#fff;
	--color-background:#FE5638;
	--color-shadow:#000;
}}
@media (prefers-color-scheme: light) {
:root {
	--color-main:#FE5638;
	--color-background:#672f8d;
	--color-shadow:#000;
}}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family:eenfont, sans-serif;
	color:var(--color-main);
	background-color:var(--color-background);
	font-size: 200px;
	background-image: url(../images/rain.png);
	animation: rain 1s linear infinite reverse;
}
.airup {
	text-align: center;
	position: fixed;
	left: 45%;
	top: 35%;
	transform: translate(-50%, -50%);
	height: 100vh;
	
}
h1 {
	height: 100vh;
	width: 100vw;
	letter-spacing: -25px;
	transform: rotate(-10deg);
	animation: bounceInDown 3s;
	text-shadow: 0px 1px var(--color-shadow), 0 0 1em var(--color-shadow);
}
h1::before {
	content: "a i r ";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color:var(--color-background);
	text-shadow: none;
	overflow: hidden;
	width: 100%;
	animation: fill 4s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}
h1::after {
	content: " u p";
	position: absolute;
	top: 174px;
	left: 172.5px;
	bottom: 0;
	right: 0;
	color:var(--color-background);
	text-shadow: none;
	overflow: hidden;
	width: 100%;
	animation: fill 4s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}
span:nth-child(4) {
	position: absolute;
	left: 875px;
	top: 174px;
}
span:nth-child(5) {
	position: absolute;
	left: 1000px;
	top: 174px;
}
/**************/
/* KEYFRAMES */
/**************/
@keyframes fill {
	0%{
		height: 50%;
	}
	100%{
		height: 0%;
	}
}
@keyframes rain {
	0%{
		background-position:  0% 0%;
	}
	100%{
		background-position:  10% 100%;
	}
}
@keyframes bounceInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-2000px);
	}
	40% {
	   opacity: 1;
	   transform: translateY(30px);
	}
	80% {
	   transform: translateY(-10px);
	}
	100% {
	   transform: translateY(0);
	}
 }

 /**************/
/* MEDIA QUERIES */
/**************/

/* ----------- iPad Pro 12.9" ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	span:nth-child(4) {
		left: 752px;
	}
	span:nth-child(5) {
		left: 877px;
	}
	.airup{
		top: 45%;
	}
}
/* Portrait */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	span:nth-child(4) {
		left: 580px;
	}
	span:nth-child(5) {
		left: 705px;
	}
	.airup{
		top: 60%;
	}
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	span:nth-child(4) {
		left: 453px;
	}
	span:nth-child(5) {
		left: 577px;
	}
	.airup{
		top: 50%;
	}
}
/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	span:nth-child(4) {
		left: 580px;
	}
	span:nth-child(5) {
		left: 705px;
	}
	.airup{
		top: 35%;
	}
}
/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	body{
		font-size: 160px;
	}
	span:nth-child(4) {
		left: 232px;
		top: 146px;
	}
	span:nth-child(5) {
		left: 322px;
		top: 146px;;
	}
	.airup{
		top: 45%;
		left: 39%;
	}
	h1::after {
		top: 145px;
		left: 120px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
	body{
		font-size: 160px;
	}
	span:nth-child(4) {
		left: 450px;
		top: 146px;
	}
	span:nth-child(5) {
		left: 540px;
		top: 146px;;
	}
	.airup{
		top: -12%;
		left: 39%;
	}
	h1::after {
		top: 145px;
		left: 120px;
	}
}