/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/Sugo-Pro-Display-Light-trial.woff2') format('woff2'),
			 url('../fonts/Sugo-Pro-Display-Light-trial.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@media (prefers-color-scheme: dark) {
:root {
	--color-main:#fff;
	--color-background:#FE5638;
	--color-shadow:#000;
}}
@media (prefers-color-scheme: light) {
:root {
	--color-main:#FE5638;
	--color-background:#672f8d;
	--color-shadow:#000;
}}

/****************/
/* JOUW STYLING */
/****************/

body {
	font-family:eenfont, sans-serif;
	color:var(--color-main);
	background-color:var(--color-background);
	font-size: clamp(6rem, -0.875rem + 8.333333vw, 20rem);
	background-image: url(../images/rain.png);
	animation: rain 1s linear infinite reverse;
}
section {
	text-align: center;
	position: fixed;
	left: 45%;
	top: 65%;
	transform: translate(-50%, -50%);
	height: 100vh;
}
h1 {
	margin: 0;
	letter-spacing: -0.06em;
	transform: rotate(-10deg);
	animation: bounceInDown 3s;
	text-shadow: 0em 0.0625em var(--color-shadow), 0 0 1em var(--color-shadow);
}
.up {
	margin-top: -0.6em;
	margin-right: -167%;
}
h1:nth-child(1)::before {
	content: "a i r ";
	position: absolute;
	color:var(--color-background);
	text-shadow: none;
	overflow: hidden;
	width: 100%;
	animation: fill 4s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}
h1:nth-child(2)::before {
	content: " u p";
	position: absolute;
	top: 0em;
	left: 0em;
	bottom: 0;
	right: 0;
	color:var(--color-background);
	text-shadow: none;
	overflow: hidden;
	width: 100%;
	animation: fill 4s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}
/**************/
/* KEYFRAMES */
/**************/
@keyframes fill {
	0%{
		height: 50%;
	}
	100%{
		height: 0%;
	}
}
@keyframes rain {
	0%{
		background-position:  0% 0%;
	}
	100%{
		background-position:  10% 100%;
	}
}
@keyframes bounceInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-125em);
	}
	40% {
	   opacity: 1;
	   transform: translateY(1.875em);
	}
	80% {
	   transform: translateY(-0.625em);
	}
	100% {
	   transform: translateY(0);
	}
 }
 /**************/
/* MEDIAQUERY */
/**************/
@media only screen 
  and (max-device-width: 812px) 
  { 
	section {
		left: 33%;
	}
}